# Standardizing our key columns before merging dataframes
Many a times we want to merge different data frames. But often, there is a significant challenge when our key columns of different data frames are not standardised. They contain the same elements, but there could be a spelling mistake or leading spaces etc. Let's see two such data frames.

In [0]:
import pandas as pd

In [6]:
# Dataset-1: Hospital beds in India
beds = pd.read_csv('/content/Govt_HospitalBedsInIndia.csv')
beds.head()

             State/UT  ...  Reference Period
0      Andhra Pradesh  ...        01.01.2017
1  Arunachal Pradesh*  ...        31.12.2018
2             Assam *  ...        31.12.2017
3               Bihar  ...        31.12.2018
4        Chhattisgarh  ...        01.01.2016

[5 rows x 8 columns]

In [7]:
# Dataset-2: Population in various states
population = pd.read_csv('/content/Population.csv')
population.head()

  Rank State or union territory  ... Urban population Sex ratio
0    1            Uttar Pradesh  ...         44495063       912
1    2              Maharashtra  ...         50818259       929
2    3                    Bihar  ...         11758016       918
3    4              West Bengal  ...         29093002       953
4    5           Madhya Pradesh  ...         20069405       931

[5 rows x 7 columns]

You may want to merge both data sets to know per-capita availability of hospital beds in each state. But merging will not work as the state names are not standardised.

In [14]:
percapita_beds = pd.merge(beds, population, left_on ='State/UT', right_on ='State or union territory',how='inner')
percapita_beds

          State/UT  ...  Sex ratio
0   Andhra Pradesh  ...        993
1            Bihar  ...        918
2     Chhattisgarh  ...        991
3          Gujarat  ...        919
4        Jharkhand  ...        948
5           Kerala  ...       1084
6   Madhya Pradesh  ...        931
7      Maharashtra  ...        929
8          Manipur  ...        992
9         Nagaland  ...        931
10     Uttarakhand  ...        963
11     West Bengal  ...        953
12      Chandigarh  ...        818
13           Delhi  ...        868
14     Lakshadweep  ...        946
15      Puducherry  ...       1037

[16 rows x 15 columns]

Only 16 entries out of 36 could be part of the join. Because other 20 entries have minor differences within them.

In [15]:
sorted(list(beds['State/UT']))

['A&N Island',
 'Andhra Pradesh',
 'Arunachal Pradesh*',
 'Assam *',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'D&N Haveli*',
 'Daman & Diu',
 'Delhi',
 'Goa*',
 'Gujarat',
 'Haryana*',
 'Himachal Pradesh*',
 'Jammu & Kashmir',
 'Jharkhand',
 'Karnataka*',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya*',
 'Mizoram*',
 'Nagaland',
 'Odisha*',
 'Puducherry',
 'Punjab*',
 'Rajasthan *',
 'Sikkim*',
 'Tamil Nadu*',
 'Telangana*',
 'Tripura*',
 'Uttar Pradesh*',
 'Uttarakhand',
 'West Bengal']

In [17]:
sorted(list(population['State or union territory']))

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

You can observe that many states/UTs are represented differently. 
"Andaman and Nicobar Islands" in one dataframe ; "A&N Island" in another. 

Such issues affect our JOINS. If it is for single use we can simply rename the fields bothering our join. But when we have to merge multiple data frames, you require a **standard key column**

In our case let's fix that the state names in population dataframe as the standard format. In any dataframes we work in future, the state names in those data frames should be the same as the standard format. Only then JOINs can be done easily.

## LOGIC:
1. Select a state name and compare it with all the standard state names. After each comparison, there should be a metric to measure the matching between both strings.
2. We will select the standard state name that has maximum matching with the selected state. 
3. Rename the state name with standard name. 
4. Repeat with other states.

In [0]:
#Sequence Matcher helps us get the metric that measures how two strings are matching
from difflib import SequenceMatcher

#We will write a function that gives us matching score between two strings a and b. Higher the score,better the match
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [20]:
similar('Apple',"Apple")

1.0

In [21]:
similar('Apple',"Aple")

0.8888888888888888

In [22]:
similar('Apple',"Pineapple")

0.5714285714285714

In [23]:
similar('Apple',"Mango")

0.0

In [28]:
#Fix the standard state names
standard_state_names = list(population['State or union territory'])

#Empty list to store the standard names of each state in our dataframe
standard_names = []

for state in list(beds['State/UT']):
  # Empty list to store all scores
  matches = []

  #Position of selected state in the list. We need it because, we will have to rename it with stadard value later.
  statepos = list(beds['State/UT']).index(state)

  for standard in standard_state_names:
    matches.append(similar(state, standard))

  #Position of the maximum score in the list. We will use it to know what is the standard state name for every state.  
  maxpos = matches.index(max(matches))
  standard_names.append(standard_state_names[maxpos])


beds['State/UT'] = pd.DataFrame(standard_names)
beds

             State/UT  ...  Reference Period
0      Andhra Pradesh  ...        01.01.2017
1   Arunachal Pradesh  ...        31.12.2018
2               Assam  ...        31.12.2017
3               Bihar  ...        31.12.2018
4        Chhattisgarh  ...        01.01.2016
5                 Goa  ...        31.12.2018
6             Gujarat  ...        31.12.2018
7             Haryana  ...        31.12.2016
8    Himachal Pradesh  ...        31.12.2017
9   Jammu and Kashmir  ...        31.12.2018
10          Jharkhand  ...        31.12.2015
11          Karnataka  ...        31.12.2018
12             Kerala  ...        01.01.2017
13     Madhya Pradesh  ...        01.01.2018
14        Maharashtra  ...        31.12.2015
15            Manipur  ...        01.01.2014
16          Meghalaya  ...        31.12.2017
17            Mizoram  ...        31.12.2017
18           Nagaland  ...        31.12.2015
19             Odisha  ...        31.12.2018
20             Punjab  ...        31.12.2017
21          Rajasthan  ...        31.12.2018
22             Sikkim  ...        31.12.2017
23         Tamil Nadu  ...        31.12.2017
24          Telangana  ...        31.12.2017
25            Tripura  ...        31.12.2018
26      Uttar Pradesh  ...        31.12.2017
27        Uttarakhand  ...        31.12.2015
28        West Bengal  ...        01.01.2015
29           Nagaland  ...        31.12.2016
30         Chandigarh  ...        31.12.2018
31              Delhi  ...        31.12.2018
32            Manipur  ...        31.12.2015
33              Delhi  ...        01.01.2015
34        Lakshadweep  ...        01.01.2016
35         Puducherry  ...        01.01.2016

[36 rows x 8 columns]

Let's Merge the dataframes now

In [29]:
percapita_beds = pd.merge(beds, population, left_on ='State/UT', right_on ='State or union territory',how='inner')
percapita_beds

             State/UT  ...  Sex ratio
0      Andhra Pradesh  ...        993
1   Arunachal Pradesh  ...        938
2               Assam  ...        954
3               Bihar  ...        918
4        Chhattisgarh  ...        991
5                 Goa  ...        973
6             Gujarat  ...        919
7             Haryana  ...        879
8    Himachal Pradesh  ...        972
9   Jammu and Kashmir  ...        890
10          Jharkhand  ...        948
11          Karnataka  ...        973
12             Kerala  ...       1084
13     Madhya Pradesh  ...        931
14        Maharashtra  ...        929
15            Manipur  ...        992
16            Manipur  ...        992
17          Meghalaya  ...        989
18            Mizoram  ...        976
19           Nagaland  ...        931
20           Nagaland  ...        931
21             Odisha  ...        979
22             Punjab  ...        895
23          Rajasthan  ...        928
24             Sikkim  ...        890
25         Tamil Nadu  ...        996
26          Telangana  ...        988
27            Tripura  ...        960
28      Uttar Pradesh  ...        912
29        Uttarakhand  ...        963
30        West Bengal  ...        953
31         Chandigarh  ...        818
32              Delhi  ...        868
33              Delhi  ...        868
34        Lakshadweep  ...        946
35         Puducherry  ...       1037

[36 rows x 15 columns]

# PERFECT MERGE!