# Standardizing our key columns before merging dataframes
Many a times we want to merge different data frames. But often, there is a significant challenge when our key columns of different data frames are not standardised. They contain the same elements, but there could be a spelling mistake or leading spaces etc. Let's see two such data frames.

In [0]:
import pandas as pd

In [23]:
# Dataset-1: Hospital beds in India
beds = pd.read_csv('/content/Govt_HospitalBedsInIndia.csv')
beds.head()

             State/UT  ...  Reference Period
0      Andhra Pradesh  ...        01.01.2017
1  Arunachal Pradesh*  ...        31.12.2018
2             Assam *  ...        31.12.2017
3               Bihar  ...        31.12.2018
4        Chhattisgarh  ...        01.01.2016

[5 rows x 8 columns]

In [21]:
# Dataset-2: Population in various states
population = pd.read_csv('/content/Population.csv')
population.head()

         State/UT Population (2018)
0   Uttar Pradesh       228,959,599
1     Maharashtra       120,837,347
2           Bihar       119,461,013
3     West Bengal        97,694,960
4  Madhya Pradesh        82,342,793

You may want to merge both data sets to know per-capita availability of hospital beds in each state. But merging will not work as the state names are not standardised.

In [24]:
percapita_beds = pd.merge(beds, population, on ='State/UT',how='inner')
percapita_beds

           State/UT  ...  Population (2018)
0    Andhra Pradesh  ...         52,883,163
1             Bihar  ...        119,461,013
2      Chhattisgarh  ...         28,566,990
3           Gujarat  ...         63,907,200
4   Jammu & Kashmir  ...         13,635,010
5         Jharkhand  ...         37,329,128
6            Kerala  ...         35,330,888
7    Madhya Pradesh  ...         82,342,793
8       Maharashtra  ...        120,837,347
9           Manipur  ...          3,008,546
10         Nagaland  ...          2,189,297
11      Uttarakhand  ...         11,090,425
12      West Bengal  ...         97,694,960
13       Chandigarh  ...          1,126,705
14      Daman & Diu  ...            220,084
15            Delhi  ...         18,345,784
16      Lakshadweep  ...             71,218
17       Puducherry  ...          1,375,592

[18 rows x 9 columns]

Only 18 entries out of 36 could be part of the join. Because other 18 entries have minor differences within them.

In [25]:
sorted(list(beds['State/UT']))

['A&N Island',
 'Andhra Pradesh',
 'Arunachal Pradesh*',
 'Assam *',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'D&N Haveli*',
 'Daman & Diu',
 'Delhi',
 'Goa*',
 'Gujarat',
 'Haryana*',
 'Himachal Pradesh*',
 'Jammu & Kashmir',
 'Jharkhand',
 'Karnataka*',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya*',
 'Mizoram*',
 'Nagaland',
 'Odisha*',
 'Puducherry',
 'Punjab*',
 'Rajasthan *',
 'Sikkim*',
 'Tamil Nadu*',
 'Telangana*',
 'Tripura*',
 'Uttar Pradesh*',
 'Uttarakhand',
 'West Bengal']

In [27]:
sorted(list(population['State/UT']))

['A.& N.Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'D.& N.Haveli',
 'Daman & Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

You can observe that many states/UTs are represented differently. 
"Andaman and Nicobar Islands" in one dataframe ; "A&N Island" in another. 

Such issues affect our JOINS. If it is for single use we can simply rename the fields bothering our join. But when we have to merge multiple data frames, you require a **standard key column**

In our case let's fix that the state names in population dataframe as the standard format. In any dataframes we work in future, the state names in those data frames should be the same as the standard format. Only then JOINs can be done easily.

## LOGIC:
1. Select a state name and compare it with all the standard state names. After each comparison, there should be a metric to measure the matching between both strings.
2. We will select the standard state name that has maximum matching with the selected state. 
3. Rename the state name with standard name. 
4. Repeat with other states.

In [0]:
#Sequence Matcher helps us get the metric that measures how two strings are matching
from difflib import SequenceMatcher

#We will write a function that gives us matching score between two strings a and b. Higher the score,better the match
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [29]:
similar('Apple',"Apple")

1.0

In [30]:
similar('Apple',"Aple")

0.8888888888888888

In [31]:
similar('Apple',"Pineapple")

0.5714285714285714

In [32]:
similar('Apple',"Mango")

0.0

In [33]:
#Fix the standard state names
standard_state_names = list(population['State/UT'])

#Empty list to store the standard names of each state in our dataframe
standard_names = []

for state in list(beds['State/UT']):
  # Empty list to store all scores
  matches = []

  #Position of selected state in the list. We need it because, we will have to rename it with stadard value later.
  statepos = list(beds['State/UT']).index(state)

  for standard in standard_state_names:
    matches.append(similar(state, standard))

  #Position of the maximum score in the list. We will use it to know what is the standard state name for every state.  
  maxpos = matches.index(max(matches))
  standard_names.append(standard_state_names[maxpos])


beds['State/UT'] = pd.DataFrame(standard_names)
beds

             State/UT  ...  Reference Period
0      Andhra Pradesh  ...        01.01.2017
1   Arunachal Pradesh  ...        31.12.2018
2               Assam  ...        31.12.2017
3               Bihar  ...        31.12.2018
4        Chhattisgarh  ...        01.01.2016
5                 Goa  ...        31.12.2018
6             Gujarat  ...        31.12.2018
7             Haryana  ...        31.12.2016
8    Himachal Pradesh  ...        31.12.2017
9     Jammu & Kashmir  ...        31.12.2018
10          Jharkhand  ...        31.12.2015
11          Karnataka  ...        31.12.2018
12             Kerala  ...        01.01.2017
13     Madhya Pradesh  ...        01.01.2018
14        Maharashtra  ...        31.12.2015
15            Manipur  ...        01.01.2014
16          Meghalaya  ...        31.12.2017
17            Mizoram  ...        31.12.2017
18           Nagaland  ...        31.12.2015
19             Odisha  ...        31.12.2018
20             Punjab  ...        31.12.2017
21          Rajasthan  ...        31.12.2018
22             Sikkim  ...        31.12.2017
23         Tamil Nadu  ...        31.12.2017
24          Telangana  ...        31.12.2017
25            Tripura  ...        31.12.2018
26      Uttar Pradesh  ...        31.12.2017
27        Uttarakhand  ...        31.12.2015
28        West Bengal  ...        01.01.2015
29      A.& N.Islands  ...        31.12.2016
30         Chandigarh  ...        31.12.2018
31       D.& N.Haveli  ...        31.12.2018
32        Daman & Diu  ...        31.12.2015
33              Delhi  ...        01.01.2015
34        Lakshadweep  ...        01.01.2016
35         Puducherry  ...        01.01.2016

[36 rows x 8 columns]

Let's Merge the dataframes now

In [35]:
percapita_beds = pd.merge(beds, population, on ='State/UT',how='inner')
percapita_beds

             State/UT  ...  Population (2018)
0      Andhra Pradesh  ...         52,883,163
1   Arunachal Pradesh  ...          1,528,296
2               Assam  ...         34,586,234
3               Bihar  ...        119,461,013
4        Chhattisgarh  ...         28,566,990
5                 Goa  ...          1,542,750
6             Gujarat  ...         63,907,200
7             Haryana  ...         27,388,008
8    Himachal Pradesh  ...          7,316,708
9     Jammu & Kashmir  ...         13,635,010
10          Jharkhand  ...         37,329,128
11          Karnataka  ...         66,165,886
12             Kerala  ...         35,330,888
13     Madhya Pradesh  ...         82,342,793
14        Maharashtra  ...        120,837,347
15            Manipur  ...          3,008,546
16          Meghalaya  ...          3,276,323
17            Mizoram  ...          1,205,974
18           Nagaland  ...          2,189,297
19             Odisha  ...         45,429,399
20             Punjab  ...         29,611,935
21          Rajasthan  ...         78,230,816
22             Sikkim  ...            671,720
23         Tamil Nadu  ...         76,481,545
24          Telangana  ...         38,472,769
25            Tripura  ...          4,057,847
26      Uttar Pradesh  ...        228,959,599
27        Uttarakhand  ...         11,090,425
28        West Bengal  ...         97,694,960
29      A.& N.Islands  ...            419,978
30         Chandigarh  ...          1,126,705
31       D.& N.Haveli  ...            378,979
32        Daman & Diu  ...            220,084
33              Delhi  ...         18,345,784
34        Lakshadweep  ...             71,218
35         Puducherry  ...          1,375,592

[36 rows x 9 columns]

# PERFECT MERGE!